body
{
    margin: 0% 20%;
}

.sec
{
    
    padding: 0px 70px 0px 70px;
}

.S1
{
    background-color: #c3c3c3;
}

#header
{
    display: flex;
    justify-content: space-between;
    padding: 25px 10px
}

#header .logo
{
    font-size: 30px;
}

#div1
{
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 200px;
    justify-content: space-between;
}

#div1-label
{
    font-size: 50px;
    color: #515151;

}

#div1-article
{
    padding: 10px;
   
}

#div1-aside
{
    flex-grow: 5;
    padding: 20px;
    text-align: center;
    text-justify: center;
    margin: 20px 0px 20px 20px;
    background-color: #9f9f9f;
}

/* ================================= */

.S2
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-bottom: 20px;
    
}

.sec2-article
{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dashItems
{
    background-color: #c3c3c3;
    flex-basis: 20%;
    
    padding: 60px;
    text-align: center;

}

.S2.footer
{
    background-color: #c3c3c3;
    flex-basis: 20%;
    margin: 10px;
    padding: 30px;
    
}

/* =================================== */

.S3
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c3c3c3;
}

.navLink
{
    margin: 10px;
    align-self: center;
}